*, *::before, *::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    
}

section.board {
    display: grid;
    grid-template-columns: repeat(8, 12vmin);
    grid-template-rows: repeat(2, 12vmin);
    grid-template-areas:
        "pot2 slot12 slot11 slot10 slot9 slot8 slot7 pot1"
        "pot2 slot0 slot1 slot2 slot3 slot4 slot5 pot1";
    
    background-color: rgb(206, 171, 125);
    border-radius: 2vmin;
    padding: 15px;
    margin: 5vmin;
    box-shadow: 3px 1px 15px rgba(0,0,0,0.8);
}

.slot {

    border-style: groove;
    border-radius: 50%;
    border: 2px solid rgba(214, 181, 120, 0.822);
    padding: 15px;
    margin: 10px;
    display: inline-block;
    background: radial-gradient(transparent 50%, rgb(77, 77, 77), black);
    background: radial-gradient(transparent 35%, rgb(59, 59, 59)) 80% calc(80% + 2.1em);
    background-size: 300% 300%;
    
 
 
    
}

.marble {
    border-radius: 50%;
    border: 1px solid grey;
    height: 10px;
    width: 10px;
    display: inline-block;
    margin: 2px;
    
}

button {
    margin-top: 20px;
    font-size: 32px;
    border: 2px solid salmon;
    border-radius: 2px;
    color: salmon;
}

#slot6, #slot13 {
    grid-row: span 2;
    padding: 0 20px;
    border-radius: 4vmin;
    padding: 15px;
    background: radial-gradient(transparent 35%, #000) 70% calc(40% + 2em);
    background: radial-gradient(transparent 35%, rgb(31, 31, 31)) 80% calc(80% + 2.1em);
    background: none;
    background-size: 400% 300%;
}

#slot0 {
    grid-area: slot0;
}
#slot1 {
    grid-area: slot1;
}
#slot2 {
    grid-area: slot2;
}
#slot3 {
    grid-area: slot3;
}
#slot4 {
    grid-area: slot4;
}
#slot5 {
    grid-area: slot5;
}
#slot6 {
    grid-area: pot1;
}
#slot7 {
    grid-area: slot7;
}
#slot8 {
    grid-area: slot8;
}
#slot9 {
    grid-area: slot9;
}
#slot10 {
    grid-area: slot10;
}
#slot11 {
    grid-area: slot11;
}
#slot12 {
    grid-area: slot12;
}
#slot13 {
    grid-area: pot2;
}